@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0; }

main {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

header {
  grid-area: header; }

.navegar {
  grid-area: nav; }

.footer {
  grid-area: footer; }

/*inicio*/
.gridContainerI {
  grid-area: gridContainterI; }

.texto {
  grid-area: texto; }

.ordenarInicio {
  grid-area: ordInicio; }

/*CONTACTO*/
.gridContainerC {
  grid-area: gridContainterC; }

.tituloContacto {
  grid-area: titContacto; }

.infoContacto {
  grid-area: infoContacto; }

.formContacto {
  grid-area: formContacto; }

/*Nosotros*/
.gridContainerN {
  grid-area: gridContainterN; }

.tituloNosotros {
  grid-area: titNosotros; }

.ordenarNosotros {
  grid-area: ordNosotros; }

/*Propiedades*/
.gridContainerP {
  grid-area: gridContainterP; }

.tituloPropiedad {
  grid-area: titPropiedad; }

.propiedades {
  grid-area: propiedades; }

/*Tasacion*/
.gridContainerT {
  grid-area: gridContainterT; }

.tituloTasacion {
  grid-area: titTasacion; }

.ordenar {
  grid-area: ordTasacion; }

/*header*/
.header {
  background-color: #0a0a0a;
  box-shadow: #ffffff 0px 0px 10px 0px;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1; }

.lista {
  display: flex;
  justify-content: end; }
  .lista a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 0px 30px; }

@media (max-width: 767px) {
  .offcanvas {
    background-color: #212529; }
    .offcanvas .offcanvas-header {
      align-items: start;
      border-bottom: 1px solid #5e5858; }
    .offcanvas .logoBlanco {
      margin-left: 131px; }
    .offcanvas .lista {
      margin-top: 60px;
      justify-content: center; }
      .offcanvas .lista a {
        justify-content: center;
        color: #ffffff;
        font-size: 22px;
        margin-top: 80px; } }

@media (min-width: 1024px) {
  .logo {
    width: 70px !important; }
  .lista li a {
    display: block;
    padding: 5px 15px;
    border: none; }
    .lista li a:hover {
      color: #000000; }
  .lista li :hover {
    transition: 1s;
    background-color: #ffffff;
    border-radius: 5px; } }

/*INICIO*/
.cuerpoInicio {
  background-image: url(../img/iniciofondo.png);
  background-repeat: no-repeat;
  background-size: cover; }

.casa {
  border: solid black 3px; }

@media (max-width: 750px) {
  .gridContainerI {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "nav" "texto" "odrInicio" "footer"; }
  .texto {
    letter-spacing: 2px;
    text-align: center;
    margin-top: 8rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    animation-name: desplazarse;
    animation-duration: 3s; }
    .texto .titulo {
      font-size: 30px; }
    .texto .subtitulo {
      font-size: 30px;
      margin-top: 20px; }
  @keyframes desplazarse {
    0% {
      transform: translateY(-40px); } }
  .ordenarInicio {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px; }
    .ordenarInicio .casa {
      width: 90%;
      height: auto; }
    .ordenarInicio .textocasa {
      margin-bottom: 30px;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px; } }

@media (min-width: 750px) {
  .gridContainerI {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "nav" "texto" "odrInicio" "footer"; }
  .texto {
    letter-spacing: 4px;
    text-align: center;
    margin-top: 8.5rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    animation-name: desplazarseT;
    animation-duration: 2s; }
    .texto .titulo {
      font-size: 35px; }
    .texto .subtitulo {
      margin-top: 50px;
      font-size: 35px; }
  @keyframes desplazarseT {
    0% {
      transform: translateY(-50px); } }
  .ordenarInicio {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px; }
    .ordenarInicio .casa {
      width: 500px;
      height: auto; }
    .ordenarInicio .textocasa {
      margin-bottom: 30px;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 3px; } }

@media (min-width: 1024px) {
  .texto {
    letter-spacing: 6px; }
    .texto .titulo {
      font-size: 40px; }
    .texto .subtitulo {
      font-size: 40px; }
  .ordenarInicio {
    margin: 10rem 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .ordenarInicio .casa {
      height: 400px;
      width: 550px;
      cursor: pointer; }
      .ordenarInicio .casa:hover {
        transition-duration: 1.5s;
        box-shadow: -1px -1px 26px rgba(0, 0, 0, 0.6);
        width: 580px;
        height: 430px; } }

/*PROPIEDADES*/
.cuerpoPropiedades {
  background-image: url(../img/propiedadesfondo.png);
  background-repeat: no-repeat;
  background-size: cover; }

.tituloPropiedad h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: 6px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif; }

.propiedades {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 30rem);
  margin-bottom: 50px;
  gap: 50px; }
  .propiedades .ordenarPropiedades img {
    border: 5px solid #f1e9e9;
    border-radius: 5px 5px 0px 0px;
    width: 350px;
    height: 280px; }
  .propiedades .ordenarPropiedades .descPropiedad {
    border-top: 1px solid #dbb9b9;
    margin-top: -3px;
    color: #020202;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #e7dede;
    border-radius: 0px 0px 5px 5px;
    padding: 4px 6px 8px 5px;
    width: 349px; }

@media (max-width: 750px) {
  .tituloPropiedad h1 {
    font-size: 40px;
    margin-top: 8rem;
    animation-name: desplazarse;
    animation-duration: 3s; }
  @keyframes desplazarse {
    0% {
      transform: translateY(-45px); } }
  .ordenarPropiedades img {
    width: 400px;
    height: 350px; }
  .ordenarPropiedades .descPropiedad {
    width: auto; } }

@media (min-width: 750px) {
  .gridContainerP {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "nav" "titPropiedad" "propiedades" "footer";
    grid-template-rows: auto auto 1fr auto; }
  .tituloPropiedad h1 {
    margin-top: 9.5rem;
    letter-spacing: 10px;
    animation-name: desplazarse;
    animation-duration: 2s;
    font-size: 45px; }
  @keyframes desplazarse {
    0% {
      transform: translateY(-60px); } }
  .propiedades {
    grid-template-columns: repeat(auto-fit, 40rem);
    gap: 50px; }
    .propiedades .ordenarPropiedades img {
      width: 550px;
      height: 450px; }
    .propiedades .ordenarPropiedades .descPropiedad {
      width: auto; } }

@media (min-width: 1024px) {
  .tituloPropiedad h1 {
    font-size: 50px;
    margin-top: 9rem; }
  .propiedades {
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 100px;
    margin: 0px 50px 100px; }
    .propiedades .ordenarPropiedades img {
      width: 455px;
      height: 350px;
      cursor: pointer; }
      .propiedades .ordenarPropiedades img:hover {
        transition-duration: 1.5s;
        width: 500px;
        height: 380px;
        box-shadow: -1px -1px 26px rgba(172, 172, 172, 0.6); }
    .propiedades .ordenarPropiedades .descPropiedad {
      text-align: center;
      font-size: 16px; } }

/*contacto*/
.cuerpoContacto {
  background-image: url(../img/contactofondo.png);
  background-repeat: no-repeat;
  background-size: cover; }

.tituloContacto {
  margin-top: 8rem;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 6px;
  animation-name: desplazarse;
  animation-duration: 3s; }

@keyframes desplazarse {
  0% {
    transform: translateY(-40px); } }

.infoContacto p {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 2.5rem 1rem 0rem;
  line-height: 40px;
  animation: desplazarseX;
  animation-duration: 2s; }

@keyframes desplazarseX {
  0% {
    transform: translateX(25px); } }

.formContacto {
  background-color: #0a0a0ad3;
  text-align: center;
  border-radius: 10px;
  width: 380px;
  height: 550px;
  margin: auto;
  padding: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
  border: solid white; }
  .formContacto p {
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center; }
  .formContacto .datos {
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 0px; }
  .formContacto .textArea {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 11px;
    height: 140px;
    font-family: sans-serif;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    resize: none; }
  .formContacto .boton {
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    font-family: sans-serif;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    border: 0px; }

@media (min-width: 750px) {
  .gridContainerC {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "nav" "titContacto" "infoContacto" "formContacto" "footer";
    grid-template-rows: auto auto auto 1fr auto; }
  .tituloContacto h1 {
    margin-top: 9rem;
    letter-spacing: 10px;
    font-size: 45px;
    animation-duration: 2s; }
  .infoContacto {
    display: flex;
    justify-content: center; }
    .infoContacto p {
      font-size: 25px;
      width: 720px; }
  .formContacto {
    width: 430px;
    height: 650px;
    margin-bottom: 120px; }
    .formContacto p {
      font-size: 40px;
      margin-bottom: 25px; }
    .formContacto .datos {
      padding: 15px;
      width: 355px; }
    .formContacto .textArea {
      padding: 15px;
      width: 355px; }
    .formContacto .boton {
      margin-top: 30px; } }

@media (min-width: 1024px) {
  .tituloContacto h1 {
    font-size: 50px; }
  .infoContacto p {
    font-size: 26px;
    width: 70%; }
  .formContacto {
    width: 500px;
    height: 720px;
    margin-bottom: 120px; }
    .formContacto p {
      font-size: 50px;
      margin-bottom: 50px; }
    .formContacto .datos {
      width: 420px; }
    .formContacto .textArea {
      width: 420px; }
    .formContacto .boton {
      margin-top: 50px;
      cursor: pointer; } }

/*NOSOTROS*/
.cuerpoNosotros {
  background-image: url(../img/sobrenosotrosfondo.png);
  background-repeat: no-repeat;
  background-size: cover; }

.tituloNosotros {
  text-align: center;
  margin-top: 8rem;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 6px;
  animation-name: desplazarse;
  animation-duration: 3s; }

@keyframes desplazarse {
  0% {
    transform: translateY(-45px); } }

.ordenarNosotros {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem; }
  .ordenarNosotros .caja1 {
    border: #000000 solid 3px;
    margin: 4rem 2rem 1rem 2rem;
    background-color: #fdfdfd;
    border-radius: 5px;
    width: 80%; }
    .ordenarNosotros .caja1 .parrafoNosotros {
      padding: 10px;
      color: #000000;
      line-height: 25px;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder; }
  .ordenarNosotros .imgNosotros {
    text-align: center; }
    .ordenarNosotros .imgNosotros img {
      width: 70%;
      border: 3px solid black; }

@media (min-width: 750px) {
  .gridContainerN {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "nav" "titNosotros" "ordNosotros" "footer";
    grid-template-rows: auto auto; }
  .tituloNosotros {
    margin-top: 9rem;
    font-size: 3rem;
    letter-spacing: 10px;
    animation-duration: 2s; }
  .ordenarNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem; }
    .ordenarNosotros .caja1 {
      margin: 4rem 2rem 1rem 2rem;
      width: 602px; }
      .ordenarNosotros .caja1 .parrafoNosotros {
        font-size: 20px; }
    .ordenarNosotros .imgNosotros img {
      width: 32rem; } }

@media (min-width: 1024px) {
  .tituloNosotros {
    font-size: 3rem;
    margin-top: 9.5rem; }
  .ordenarNosotros {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10rem 0px 10rem; }
    .ordenarNosotros .caja1 {
      margin: 0%;
      width: 650px;
      height: 450px; }
      .ordenarNosotros .caja1 .parrafoNosotros {
        font-size: 25px;
        text-align: center;
        line-height: 32px; }
    .ordenarNosotros .imgNosotros img {
      width: 36rem;
      height: 30rem; } }

/*TASACION*/
.cuerpoTasacion {
  background-image: url(../img/tasacionfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.tituloTasacion h1 {
  margin-top: 8rem;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 6px;
  font-family: 'Roboto', sans-serif;
  animation-name: desplazarse;
  animation-duration: 3s; }

@keyframes desplazarse {
  0% {
    transform: translateY(-45px); } }

.ordenar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0; }
  .ordenar .imgTasacion {
    text-align: center;
    background-color: #111010;
    width: auto;
    padding: 15px;
    margin-bottom: 3rem;
    border-radius: 100%;
    border: solid white; }
    .ordenar .imgTasacion img {
      width: 300px;
      height: 260px; }
  .ordenar .formTasacion {
    text-align: center;
    background-color: #0a0a0ad3;
    border-radius: 10px;
    width: 380px;
    height: 620px;
    padding: 20px;
    border: solid white; }
    .ordenar .formTasacion p {
      font-size: 20px;
      font-family: sans-serif;
      color: #FFFFFF;
      margin-bottom: 15px;
      text-align: center; }
    .ordenar .formTasacion .dire {
      font-size: 18px;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      font-family: sans-serif;
      margin-bottom: 10px;
      border: 0px; }
    .ordenar .formTasacion .botonTasacion {
      font-weight: bolder;
      font-size: 18px;
      padding: 10px;
      font-family: sans-serif;
      width: 100%;
      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      border: 0px; }
    .ordenar .formTasacion .datos {
      font-family: sans-serif;
      font-size: 18px;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 0px; }
    .ordenar .formTasacion .textArea {
      font-size: 18px;
      margin-bottom: 15px;
      padding: 11px;
      height: 140px;
      font-family: sans-serif;
      width: 100%;
      border-radius: 5px;
      border: 0px;
      resize: none; }

@media (min-width: 750px) {
  .gridContainerT {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "nav" "titTasacion" "formTasacion" "footer"; }
  .tituloTasacion h1 {
    font-size: 45px;
    margin-top: 9rem;
    animation-duration: 2s; }
  .ordenar {
    margin: 6rem 0rem; }
    .ordenar .formTasacion {
      width: 450px;
      height: 700px; }
      .ordenar .formTasacion p {
        margin-bottom: 25px;
        font-size: 28px; }
      .ordenar .formTasacion .datos {
        width: 100%; }
      .ordenar .formTasacion .textArea {
        width: 100%; }
      .ordenar .formTasacion .dire {
        padding: 15px;
        width: 100%; } }

@media (min-width: 1024px) {
  .tituloTasacion h1 {
    font-size: 50px;
    margin-top: 10rem; }
  .ordenar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 220px; }
    .ordenar .imgTasacion {
      width: auto;
      height: auto;
      margin: 0; }
      .ordenar .imgTasacion img {
        width: 430px;
        height: 430px; }
    .ordenar .formTasacion {
      width: 500px;
      height: 670px; }
      .ordenar .formTasacion p {
        font-size: 30px;
        letter-spacing: 2px; }
      .ordenar .formTasacion .botonTasacion {
        cursor: pointer; } }

/*FOOTER*/
.footer {
  background-color: #eee2e2;
  text-align: center;
  padding: 5px 0px;
  bottom: 0;
  width: 100%;
  box-shadow: #000000 0px 0px 13px 0px; }

.redes {
  display: flex;
  justify-content: center;
  margin: 0; }
  .redes li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px; }

@media (max-width: 750px) {
  .textocopy {
    letter-spacing: 0.5px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000; }
  footer {
    padding-bottom: auto; } }

@media (min-width: 750px) {
  .textocopy {
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #000000; }
  .redes {
    display: flex;
    justify-content: space-evenly; } }

@media (min-width: 1024px) {
  .textocopy {
    letter-spacing: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000000; } }
