@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #0a0a0a;
    box-shadow: #ffffff 0px 0px 10px 0px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
main{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.footer{
    background-color: #eee2e2;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    bottom: 0;
    width: 100%;
    box-shadow: #000000 0px 0px 13px 0px;
}     
/* HEADER */
.logo{
    display: flex;
    justify-content: center;
}
.lista{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 5px;
}
.lista li{
    display: inline-block;
}
.lista li a{
    text-decoration:none ;
    list-style: none;
    color: #ffffff;
    font-family: sans-serif;
    border-bottom: 1px solid white;
}
.cuerpoInicio{
    background-image: url(../img/iniciofondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*INICIO*/
.casa{
    border: solid rgb(0, 0, 0) 3px;
}
/*PROPIEDADES*/
.cuerpoPropiedades{
    background-image: url(../img/propiedadesfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloPropiedad{
    font-size: 20px;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 5rem;
    letter-spacing: 6px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.propiedades{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 30rem);
    margin-bottom: 50px;
    gap: 50px;
}
.ordenarPropiedades img{
    border: 5px solid rgb(241, 233, 233);
    border-radius: 5px 5px 0px 0px;
    width: 350px;
    height: 280px;
}
.descPropiedad{
    border-top: 1px solid rgb(219, 185, 185) ;
    margin-top: -3px;
    color: #020202;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #e7dede;
    border-radius: 0px 0px 5px 5px;
    padding: 4px 6px 8px 5px;
    width: 349px; 
}
/*CONTACTO*/
.cuerpoContacto{
    background-image: url(../img/contactofondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloContacto{
    margin-top: 13rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 6px;
    font-size: 25px;
    animation-name: desplazarse;
    animation-duration: 3s;
}
  /*Animacion*/
  @keyframes desplazarse{
    0%{
        transform: translateY(-40px);
}
}
.infoContacto p{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 2.5rem 1rem 0rem;
    line-height: 40px;
    animation: desplazarseX;
    animation-duration: 2s;
}
@keyframes desplazarseX{
    0%{
        transform: translateX(25px);
    }
}
.formContacto{
    background-color: #0a0a0ad3;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    height: 490px;
    margin: auto;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
    border: solid rgb(255, 255, 255);
}
.formContacto p{
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}
.datos{
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 0px;
}
.textArea{
    font-size: 18px;
    margin-bottom: 15px;
    padding: 11px;
    height: 140px;
    font-family: sans-serif;
    width: 16.5em;;
    border-radius: 5px;
    border: 0px;
    resize: none;
}
.boton{
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    font-family: sans-serif;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    border: 0px
}
/*NOSOTROS*/
.cuerpoNosotros{
    background-image: url(../img/sobrenosotrosfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ordenarNosotros{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.tituloNosotros{
    text-align: center;
    margin-top: 13rem;
    font-size: 2.5rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    animation-name: desplazarse;
    animation-duration: 3s;
}
/*animacion*/
@keyframes desplazarse{
0%{
    transform: translateY(-45px);
}
}
.caja1{
    border: #000000 solid 3px;
    margin: 4rem 2rem 1rem 2rem;
    background-color: #fdfdfd;
    border-radius: 5px;
    width: 80%;
}
.parrafoNosotros{
    padding: 10px;
    color: #000000;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.imgNosotros{

    text-align: center;
}
.imgNosotros img{
    width: 70%;
    border: 3px solid black;
}
/*TASACION*/
.cuerpoTasacion{
    background-image: url(../img/tasacionfondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloTasacion{
    margin-top: 13rem;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 6px;
    font-family: 'Roboto', sans-serif;
    animation-name: desplazarse;
    animation-duration: 3s;
}
@keyframes desplazarse{
    0%{
        transform: translateY(-45px);
    }
}
.ordenar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}
.formTasacion{
    text-align: center;
    background-color: #0a0a0ad3;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    padding: 20px;
    border: solid rgb(255, 255, 255);
}
.formTasacion p{
    font-size: 26px;
    font-family: sans-serif;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;
}
.dire{
    font-size: 18px;
    border-radius: 5px;
    width: 86%;
    padding: 10px;
    font-family: sans-serif;
    margin-bottom: 10px;
    border: 0px;
}
.imgTasacion{
    text-align: center;
    background-color: #111010;
    width: 300px;
    padding: 15px;
    margin-bottom: 3rem;
    border-radius: 100%;
    border: solid rgb(255, 255, 255);
}
.imgTasacion img{
    width: 300px;
    height: 250px;
}
.botonTasacion{
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    font-family: sans-serif;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    border: 0px
}
/*FOOTER*/
.redes{
    display: flex;
    justify-content: center;
}
.redes li{
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}
.redes li a{
    font-size: 50px;
}
                /*RESPONSIVE*/
header{
    grid-area: header;
}
.navegar{
    grid-area: nav;
}
.footer{
    grid-area: footer;
}
/*inicio*/
.gridContainerI{
    grid-area: gridContainterI;
}
.texto{
    grid-area: texto;
}
.ordenarInicio{
    grid-area: ordInicio;
}
/*CONTACTO*/
.gridContainerC{
    grid-area: gridContainterC;
}
.tituloContacto{
    grid-area: titContacto;
}
.infoContacto{
    grid-area: infoContacto;
}
.formContacto{
    grid-area: formContacto;
}
/*Nosotros*/
.gridContainerN{
    grid-area: gridContainterN;
}
.tituloNosotros{
    grid-area: titNosotros;
}
.ordenarNosotros{
    grid-area: ordNosotros;
}
/*Propiedades*/
.gridContainerP{
    grid-area: gridContainterP;
}
.tituloPropiedad{
    grid-area: titPropiedad;
}
.propiedades{
    grid-area: propiedades;
}
/*Tasacion*/
.gridContainerT{
    grid-area: gridContainterT;
}
.tituloTasacion{
    grid-area: titTasacion;
}
.ordenar{
    grid-area: ordTasacion;
}
/*inicio*/
@media  (max-width: 750px){
        /*header*/
        .logo {
            margin-top: 20px;
        }
        .lista{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .lista li a{
            font-family: sans-serif;
            font-size: 18px;
        }
    .gridContainerI{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas:
        "nav"
        "texto"
        "odrInicio"
        "footer";
    }
    .texto{
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 14rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        animation-name: desplazarse;
        animation-duration: 3s;
    }
    /*Animacion*/
    @keyframes desplazarse{
        0%{
             transform: translateY(-40px);
          }
    }
    .subtitulo{
        margin-top: 20px;
    }
    .ordenarInicio{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .casa{
        width: 90%;
        height: auto;
    }
    .textocasa{
        margin-bottom: 30px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        letter-spacing: 3px;
    }
        /*footer*/
        .textocopy{
            letter-spacing: 0.5px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            color: #000000;
        }
}
@media  (min-width: 750px){
            /*header*/
            .logo {
                margin-top: 20px;
            }
            .lista{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .lista li a{
                font-family: sans-serif;
                font-size: 25px;
            }
            .logo img{
                width: 120px;
                height: 130px;
            }
    .gridContainerI{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
        "nav"
        "texto"
        "odrInicio"
        "footer";
    }
    .texto{
        font-size: 25px;
        letter-spacing: 4px;
        text-align: center;
        margin-top: 16rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        animation-name: desplazarseT;
        animation-duration: 2s;
    }
    @keyframes desplazarseT{
        0%{
            transform: translateY(-50px);
        }
    }
    .subtitulo{
        margin-top: 5rem;
    }
    .ordenarInicio{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .casa{
        width: 500px;
        height: auto;
    }
    .textocasa{
        margin-bottom: 30px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        letter-spacing: 3px;
    }
    /*footer*/
    .textocopy{
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    .redes{
        display: flex;
        justify-content: space-evenly;
    }
}
@media  (min-width: 1024px){
    /*header*/
    .logo{
        margin-left: 50px;
    }
    .logo img{
        width: 100px;
        height: 110px;
    }
    .lista li{
        display: inline-block;
    }
    .navegar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px;
        margin-right: 20px;
    }    
    .lista li a{
        display: block;
        padding: 8px 32px;
        border: none;
        font-size: 20px;
    }
    .lista li a:hover{
        color: #000000;
    }
    .lista li :hover{
        transition: 1s;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .texto{
        font-size: 30px;
        color: #ffffff;
        letter-spacing: 6px;
        margin-top: 13rem;
        font-family: 'Roboto', sans-serif;
    }
.ordenarInicio{
    margin: 10rem 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.casa{
    height: 400px;
    width: 550px;
    cursor: pointer;
}
.casa:hover{
    transition-duration: 1.5s;
    box-shadow: -1px -1px 26px rgba(0, 0, 0, 0.6);
    width: 580px;
    height: 430px;
}
.textocasa{
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    animation-name: desplazarse;
}
/*footer*/
.textocopy{
    letter-spacing: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
}
/*propiedades*/                                      
    @media(max-width: 750px){ 
     .descPropiedad{
        width: auto; 
    }
    .ordenarPropiedades img{
        width: 400px;
        height: 350px;
    }
    .tituloPropiedad{
        margin-top: 13rem;
        animation-name: desplazarse;
        animation-duration: 3s;
    }
    @keyframes desplazarse{
        0%{
             transform: translateY(-45px);
    }
        }
} 
@media  (min-width: 750px){
    .tituloPropiedad{
        margin-top: 16rem;
        letter-spacing: 10px;
        font-size: 1.2rem;
        animation-name: desplazarse;
        animation-duration: 2s;
    }
    @keyframes desplazarse{
        0%{
            transform: translateY(-60px);
        }
    }
    .gridContainerP{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "nav"
        "titPropiedad"
        "propiedades"
        "footer";
        grid-template-rows: auto auto 1fr auto ;
    }
    .propiedades{
        grid-template-columns: repeat(auto-fit, 40rem);
        gap: 50px;
        margin-bottom: 150px;
    }
    .descPropiedad{
        width: auto; 
    }
    .ordenarPropiedades img{
        width: 550px;
        height: 450px;
    }
}
@media  (min-width: 1024px){
    .propiedades{
        grid-template-columns: repeat(auto-fit, 30rem);
        gap: 100px;
        margin: 0px 50px 100px;
    }
    .propiedades :hover{
        box-shadow: -1px -1px 26px rgba(0, 0, 0, 0.6);
    }
    .tituloPropiedad{
        font-size: 25px;
        margin-top: 13rem;
    }
    .descPropiedad{
        text-align: center;
        font-size: 16px;
    }
    .ordenarPropiedades{
        cursor: pointer;
    }
    .ordenarPropiedades img{
        width: 450px;
        height: 350px;
    }
    .ordenarPropiedades img:hover{
        transition-duration: 1.5s;
        width: 500px;
        height: 380px;
    }
}
/*contacto*/
@media  (min-width: 750px){
    .gridContainerC{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "nav"
        "titContacto"
        "infoContacto"
        "formContacto"
        "footer";
        grid-template-rows: auto auto auto 1fr auto;
    }
    .tituloContacto{
        margin-top: 16rem;
        letter-spacing: 10px;
        font-size: 30px;
        animation-duration: 2s;
    }
    .infoContacto{
        display: flex;
        justify-content: center;
    }
    .infoContacto p{
        font-size: 25px;
        width: 720px;
    }
    .formContacto{
        width: 430px;
        height: 590px;
        margin-bottom: 120px;
    }
    .formContacto p{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .datos{
        padding: 15px;
        width: 355px;
    }
    .textArea{
        padding: 15px;
        width: 355px;
    }
    .boton{
        margin-top: 30px;
    }
}
@media  (min-width: 1024px){
    .tituloContacto{
        font-size: 35px;
        margin-top: 13rem;
    }
    .infoContacto p{
        font-size: 26px;
        width: 70%;
    }
     .formContacto{
        width: 500px;
        height: 650px;
        margin-bottom: 120px;
    }
    .formContacto p{
        font-size: 50px;
        margin-bottom: 50px;
    }
    .datos{
        width: 420px;
    }
    .textArea{
        width: 420px;
    }
    .boton{
        margin-top: 50px;
        cursor: pointer;
    }
}
/*nosotros*/
@media  (min-width: 750px){
    .gridContainerN{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "nav"
        "titNosotros"
        "ordNosotros"
        "footer";
        grid-template-rows: auto auto ;
    }
    .ordenarNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }
    .tituloNosotros{
        margin-top: 16rem;
        font-size: 3rem;
        letter-spacing: 10px;
        animation-duration: 2s;
    }
    .caja1{
        margin: 4rem 2rem 1rem 2rem;
        width: 602px;

    }
    .parrafoNosotros{
        font-size: 20px;
    }
    .imgNosotros img{
        width: 32rem;
    }
}
@media  (min-width: 1024px){
    .tituloNosotros{
        font-size: 3rem;
        margin-top: 13rem;
    }
    .ordenarNosotros{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 10rem 0px 10rem ;
    }
    .caja1{
        margin: 0%;
        width: 650px;
        height: 450px;
    }
    .imgNosotros img{
        width: 36rem;
        height: 30rem;
    }
    .parrafoNosotros{
        font-size: 25px;
        text-align: center;
        line-height: 35px;
    }
}
/*tasacion*/
@media  (min-width: 750px){
.gridContainerT{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "nav"
    "titTasacion"
    "formTasacion"
    "footer";
}
.tituloTasacion{
    margin-top: 16rem;
    animation-duration: 2s;
}
.ordenar{
    margin: 6rem 0rem;
}
.formTasacion{
    width: 450px;
    height: 650px;
}
.formTasacion p{
    margin-bottom: 25px;
}
.dire{
    padding: 15px;
    width: 355px;
}
}
@media  (min-width: 1024px){
    .ordenar{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .tituloTasacion{
        font-size: 35px;
        margin-top: 13rem;
    }
    .imgTasacion{
        width: auto;
        height: auto;
        margin: 0;
    }
    .imgTasacion img{
        width: 430px;
        height: 430px;
    }
    .formTasacion{
        width: 500px;
    }
    .formTasacion p{
        font-size: 30px;
        letter-spacing: 2px;
    }
    .dire{
        width: 420px;
    }
    .botonTasacion{
        cursor: pointer;
    }
}