.cuerpoContacto{
    background-image: url(../img/contactofondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloContacto{
    @extend .tituloNosotros;
}
.infoContacto p{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: $font-p;
    margin: 2.5rem 1rem 0rem;
    line-height: 40px;
    animation: desplazarseX;
    animation-duration: 2s;
    @keyframes desplazarseX{
        0%{
            transform: translateX(16px);
        }
    }
}
.formContacto{
    background-color: #0a0a0ad3;
    text-align: center;
    border-radius: 10px;
    width: 380px;
    height: 550px;
    margin: auto;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 80px;
    border: map-get($bordes, "contac-tasa" );
    p{
        @include formP (30px);
    }
    .datos{
        @include formDatos;
    }
    .textArea{
        font-size: 18px;
        margin-bottom: 15px;
        padding: 11px;
        height: 140px;
        font-family: $font-form;
        width: 100%;
        border-radius: 5px;
        border: 0px;
        resize: none;
    }
    .boton{
        @include formBoton;
    }
}
@media (max-width: 450px){
    .gridContainerC{
        @include gridContainerC;
    }
    .tituloContacto h1{
        font-size: 1.5rem;
    }
    .infoContacto p{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .formContacto{
        text-align: center;
        width: 250px;
        height: 450px;
        padding: 10px 20px 0px 20px;
        p{
            font-size: 25px;
        }
        .datos{
            padding: 6px;
            font-size: 15px;
        }
        .textArea{
            padding: 6px;
            font-size: 15px;
            height: 100px;
        }
        .boton{
            padding: 6px;
            margin-top: 10px;
            font-size: 15px;
        }
    }
}
@media (min-width: 450px) and (max-width: 750px){
    .gridContainerC{
        @include gridContainerC;
    }
    .tituloContacto h1{
        font-size: 2rem;
    }
}
@media  (min-width: 750px){
    .gridContainerC{
        @include gridContainerC;
    }
    .tituloContacto h1{
        margin-top: 9rem;
        letter-spacing: 10px;
        font-size: 45px;
        animation-duration: 2s;
    }
    .infoContacto{
        display: flex;
        justify-content: center;
        p{
            font-size: 25px;
            width: 720px;
        }
        p{
            @keyframes desplazarseX{
                0%{
                    transform: translateX(25px);
                }
            }
        }
    }
    .formContacto{
        width: 430px;
        height: 650px;
        margin-bottom: 120px;
        p{
            font-size: 40px;
            margin-bottom: 25px;
        }
        .datos{
            padding: 15px;
            width: 355px;
        }
        .textArea{
            padding: 15px;
            width: 355px;
        }
        .boton{
            margin-top: 30px;
        }
    }
}
@media  (min-width: 1024px){
    .tituloContacto h1{
        font-size: 50px;
    }
    .infoContacto p{
        font-size: 26px;
        width: 70%;
    }
     .formContacto{
        width: 500px;
        height: 740px;
        margin-bottom: 120px;
        padding: 30px 50px;
        p{
            font-size: 50px;
            margin-bottom: 50px;
        }
        .datos{
            width: 100%;
        }
        .textArea{
            width: 100%;
        }
        .boton{
            margin-top: 50px;
            cursor: pointer;
        }
    }
}