/*FOOTER*/
.footer{
    background-color: #eee2e2;
    text-align: center;
    padding: 5px 0px;
    bottom: 0;
    width: 100%;
    box-shadow: #000000 0px 0px 13px 0px;
} 
.redes{
    display: flex;
    justify-content: center;
    margin: 0;
    li{
        display: inline-block;
        padding-right: 25px;
        padding-left: 25px;
    }
}
@media  (max-width: 750px) {
    .textocopy{
        letter-spacing: 0.5px;
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    footer{
        padding-bottom: auto;
    }
}
@media  (min-width: 750px){
    .textocopy{
        letter-spacing: 2px;
        margin-top: 10px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    .redes{
        display: flex;
        justify-content: space-evenly;
    }
}
@media  (min-width: 1024px){
    .textocopy{
        letter-spacing: 6px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
}