/*FOOTER*/
.footer{
    background-color: #eee2e2;
    text-align: center;
    padding: 5px 0px;
    bottom: 0;
    width: 100%;
    box-shadow: #000000 0px 0px 13px 0px;
} 
.redes{
    display: flex;
    justify-content: space-around;
    margin: 0;
    li{
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        img{
            width: 30px;
            border-radius: 50%;
            padding: 3px;
        }
    }
}
@media (max-width: 450px){
    .textocopy{
        letter-spacing: 0.2px;
        margin-top: 10px;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    .redes{
        padding: 0px 0px 2px 0px;
    }
}
@media  (min-width: 450px) and (max-width: 750px) {
    .textocopy{
        letter-spacing: 0.5px;
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    footer{
        padding-bottom: auto;
        .redes{
            padding: 0px 0px 2px 0px;
            img{
                width: 40px;
            }
        }
    }
}
@media  (min-width: 750px){
    .textocopy{
        letter-spacing: 2px;
        margin-top: 10px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    .redes{
        display: flex;
        justify-content: space-evenly; 
        li{
            img{
                width: 50px;
            }
        }   
    }
}
@media  (min-width: 1024px){
    .textocopy{
        letter-spacing: 6px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    .redes
    {   li{
        img{
            &:hover{
                background-color: #df7450;
                transition: 0.5s;
            }
        }
        
    }
    }
}