/*NOSOTROS*/
.cuerpoNosotros{
    background-image: url(../img/sobrenosotrosfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloNosotros{
    text-align: center;
    margin-top: 8rem;
    font-size: 2.5rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    animation-name: desplazarse;
    animation-duration: 3s;
    @keyframes desplazarse{
        0%{
            transform: translateY(-45px);
        }
    }
}
.ordenarNosotros{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    .caja1{
        border: #000000 solid 3px;
        margin: 4rem 2rem 1rem 2rem;
        background-color: #fdfdfd;
        border-radius: 5px;
        width: 80%;
        .parrafoNosotros{
            padding: 10px;
            color: #000000;
            line-height: 25px;
            font-size: 15px;
            font-family: $font-p;
            font-weight: bolder;
        }
    }
    .imgNosotros{
        text-align: center;
        img{
            width: 70%;
            border: 3px solid black;
        }
    }
}
@media  (min-width: 750px){
    .gridContainerN{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "nav"
        "titNosotros"
        "ordNosotros"
        "footer";
        grid-template-rows: auto auto ;
    }
    .tituloNosotros{
        margin-top: 9rem;
        font-size: 3rem;
        letter-spacing: 10px;
        animation-duration: 2s;
    }
    .ordenarNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        .caja1{
            margin: 4rem 2rem 1rem 2rem;
            width: 602px;
            .parrafoNosotros{
                font-size: 20px;
            }
        }
        .imgNosotros img{
            width: 32rem;
        }
    }
}
@media  (min-width: 1024px){
    .tituloNosotros{
        font-size: 3rem;
        margin-top: 9.5rem;
    }
    .ordenarNosotros{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 10rem 0px 10rem;
        .caja1{
            margin: 0%;
            width: 650px;
            height: 450px;
            .parrafoNosotros{
                font-size: 25px;
                text-align: center;
                line-height: 32px;
            }
        }
        .imgNosotros img{
            width: 36rem;
            height: 30rem;
        }
    }
}