.cuerpoPropiedades{
    background-image: url(../img/propiedadesfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloPropiedad h1{
    @include Tit-estilos;
    margin-bottom: 4rem;
}
.propiedades{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 30rem);
    margin-bottom: 50px;
    gap: 50px;
    .ordenarPropiedades {
        img{
            border: map-get($bordes, "imgProp");
            border-radius: 5px 5px 0px 0px;
            width: 350px;
            height: 280px;
         }
        .descPropiedad{
            border-top: map-get($bordes, "descProp-top" );
            margin-top: -3px;
            color: #020202;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            background-color: #e7dede;
            border-radius: 0px 0px 5px 5px;
            padding: 4px 6px 8px 5px;
            width: 350px; 
         }
    }
}
@media  (max-width:450px){
    .gridContainerP{
        @include gridContainerP;
    }
    .tituloPropiedad h1{
        font-size: 25px;
        letter-spacing: 2px;
        animation-name: desplazarse;
        animation-duration: 3s;
        @keyframes desplazarse{
            0%{
                 transform: translateY(-45px);
            }
            }
    }
    .propiedades{
        grid-template-columns: repeat(auto-fit, 15rem);
        .ordenarPropiedades{
            img{
                width: 100%;
                height: 200px;
            }
            .descPropiedad{
                text-align: center;
                width: auto; 
                font-size: 10px;
            }
        }
    }
}
@media(min-width:450px) and (max-width: 750px){ 
    .tituloPropiedad h1{
        font-size: 40px;
        animation-name: desplazarse;
        animation-duration: 3s;
        @keyframes desplazarse{
            0%{
                 transform: translateY(-45px);
        }
            }
    }
}
@media  (min-width: 750px){
    .gridContainerP{
        @include gridContainerP;
    }
    .tituloPropiedad h1{
        letter-spacing: 10px;
        animation-name: desplazarse;
        animation-duration: 2s;
        font-size: 45px;
        @keyframes desplazarse{
            0%{
                transform: translateY(-60px);
            }
        }
    }
    .propiedades{
        grid-template-columns: repeat(auto-fit, 40rem);
        gap: 50px;
        .ordenarPropiedades{
            img{
                width: 550px;
                height: 450px;
            }
            .descPropiedad{
                text-align: center;
                width: 550px; 
                font-size: 18px;
            }
        }
    }
}
@media  (min-width: 1024px){
    .tituloPropiedad h1{
        font-size: 50px;
        margin-top: 9rem;
    }
    .propiedades{
        grid-template-columns: repeat(auto-fit, 30rem);
        grid-template-rows: 510px 510px;
        gap: 100px;
        margin: 0px 50px 100px;
        .ordenarPropiedades{
            img{
                width: 480px;
                height: 380px;
                cursor: pointer;
                &:hover{
                    transition-duration: 1.5s;
                    width: 507px;
                    height: 405px;
                    box-shadow: -1px -1px 26px rgba(172, 172, 172, 0.6);
                }
            }
            .descPropiedad{
                width: auto;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
    }
}