/*TASACION*/
.cuerpoTasacion{
    background-image: url(../img/tasacionfondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloTasacion h1{
    @extend .tituloNosotros;
}
.ordenar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    .imgTasacion{
        text-align: center;
        background-color: #111010;
        width: auto;
        padding: 15px;
        margin-bottom: 3rem;
        border-radius: 100%;
        border: map-get($bordes, "contac-tasa" );
        img{
            width: 300px;
            height: 260px;
        }
    }
    .formTasacion{
        text-align: center;
        background-color: #0a0a0ad3;
        border-radius: 10px;
        width: 380px;
        height: 620px;
        padding: 25px;
        margin-bottom: 20px;
        border: map-get($bordes, "contac-tasa" );
        p{
            @include formP(22px);
        }
        .dire{
            font-size: 18px;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            font-family: $font-form;
            margin-bottom: 10px;
            border: 0px;
        }
        .botonTasacion{
            @include formBoton;
        }
        .datos{
           @include formDatos;
        }
        .textArea{
            font-size: 18px;
            margin-bottom: 15px;
            padding: 11px;
            height: 140px;
            font-family: $font-form;
            width: 100%;
            border-radius: 5px;
            border: 0px;
            resize: none;
        }
    }
}
@media  (max-width: 450px){
    .gridContainerT{
        @include gridContainterT;
        }
        .tituloTasacion{
            font-size: 1.8rem;
        }
        .ordenar{
            margin: 2rem 0;
            .imgTasacion{
                padding: 10px;
                margin-bottom: 1.5rem;
                border-radius: 100%;
                border: map-get($bordes, "contac-tasa" );
                img{
                    width: 180px;
                    height: 160px;
                }
            }
            .formTasacion{
                border-radius: 10px;
                width: 250px;
                height: 500px;
                padding: 10px 20px 0px 20px;
                margin-bottom: 10px;
                border: map-get($bordes, "contac-tasa" );
                p{
                    @include formP(15px);
                }
                .dire{
                    font-size: 13px;
                    border-radius: 5px;
                    width: 100%;
                    padding: 10px;
                    font-family: $font-form;
                    margin-bottom: 10px;
                    border: 0px;
                }
                .botonTasacion{
                    @include formBoton;
                    font-size: 13px
                }
                .datos{
                   @include formDatos;
                   font-size: 13px;
                }
                .textArea{
                    font-size: 13px;
                    margin-bottom: 15px;
                    padding: 6px;
                    height: 100px;
                    font-family: $font-form;
                    width: 100%;
                    border-radius: 5px;
                    border: 0px;
                    resize: none;
                }
            }
        }
}
@media  (min-width: 450px) and (max-width: 750px){
    .gridContainerT{
        @include gridContainterT;
    }
    .tituloTasacion h1{
        font-size: 45px;
        margin-top: 9rem;
        animation-duration: 2s;
    }
    .ordenar{
        margin: 6rem 0rem;
        .formTasacion{
            width: 430px;
            height: 700px;
            p{
                margin-bottom: 25px;
                font-size: 28px;
            }
            .datos{
                padding: 10px;
                width: 355px;
            }
            .textArea{
                padding: 10px;
                width: 355px;
            }
            .dire{
                padding: 15px;
                width: 355px;
            }
            .botonTasacion{
                margin-top: 30px;
            }
        }
    }
}
@media  (min-width: 1024px){
    .tituloTasacion h1 {
        font-size: 50px;
        margin-top: 10rem;
    }
    .ordenar{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 220px;
        .imgTasacion{
            width: auto;
            height: auto;
            margin: 0;
            img{
                width: 430px;
                height: 430px;
            }
        }
        .formTasacion{
            width: 500px;
            height: 740px;
            padding: 30px 50px;
            p{
                margin-bottom: 25px;
                font-size: 30px;
            }
            .datos{
                padding: 15px;
                width: 100%;
            }
            .dire{
                padding: 15px;
                width: 100%;
            }
            .textArea{
                padding: 15px;
                width: 100%;
            }
            .botonTasacion{
                cursor: pointer;
            }

        }
    }
}