/*TASACION*/
.cuerpoTasacion{
    background-image: url(../img/tasacionfondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloTasacion h1{
    @extend .tituloNosotros;
}
.ordenar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    .imgTasacion{
        text-align: center;
        background-color: #111010;
        width: auto;
        padding: 15px;
        margin-bottom: 3rem;
        border-radius: 100%;
        border: map-get($bordes, "contac-tasa" );
        img{
            width: 300px;
            height: 260px;
        }
    }
    .formTasacion{
        text-align: center;
        background-color: #0a0a0ad3;
        border-radius: 10px;
        width: 380px;
        height: 620px;
        padding: 20px;
        margin-bottom: 20px;
        border: map-get($bordes, "contac-tasa" );
        p{
            @include formP;
        }
        .dire{
            font-size: 18px;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            font-family: $font-form;
            margin-bottom: 10px;
            border: 0px;
        }
        .botonTasacion{
            @include formBoton;
        }
        .datos{
           @include formDatos;
        }
        .textArea{
            font-size: 18px;
            margin-bottom: 15px;
            padding: 11px;
            height: 140px;
            font-family: $font-form;
            width: 100%;
            border-radius: 5px;
            border: 0px;
            resize: none;
        }
    }
}
@media  (min-width: 750px){
    .gridContainerT{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "nav"
        "titTasacion"
        "formTasacion"
        "footer";
    }
    .tituloTasacion h1{
        font-size: 45px;
        margin-top: 9rem;
        animation-duration: 2s;
    }
    .ordenar{
        margin: 6rem 0rem;
        .formTasacion{
            width: 430px;
            height: 700px;
            p{
                margin-bottom: 25px;
                font-size: 28px;
            }
            .datos{
                padding: 10px;
                width: 355px;
            }
            .textArea{
                padding: 10px;
                width: 355px;
            }
            .dire{
                padding: 15px;
                width: 355px;
            }
            .botonTasacion{
                margin-top: 30px;
            }
        }
    }
}
@media  (min-width: 1024px){
    .tituloTasacion h1 {
        font-size: 50px;
        margin-top: 10rem;
    }
    .ordenar{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 220px;
        .imgTasacion{
            width: auto;
            height: auto;
            margin: 0;
            img{
                width: 430px;
                height: 430px;
            }
        }
        .formTasacion{
            width: 500px;
            p{
                font-size: 30px;
                letter-spacing: 2px;
            }
            .datos{
                width: 420px;
            }
            .dire{
                width: 420px;
            }
            .textArea{
                width:420px;
            }
            .botonTasacion{
                cursor: pointer;
            }

        }
    }
}